* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  /*margin: 0;*/
}

html {
  height: 100%;
  background-image: url('../images/foggy-forest.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  min-height: 100%;
  background: linear-gradient(to bottom, rgba(57, 189, 123, 0.85), rgba(57, 189, 123, 0.95));
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Cabin', sans-serif;
}

a, a:hover, a:visited {
  color: inherit;
  text-decoration: inherit;
}

.titlebar {
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 10px;
  background-color: rgb(42,54,48);
  z-index: 1;
}

.main-content {
  padding-top: 150px;
  margin: 0 auto;
}

.link {
  color: white;
  cursor: pointer;
}

.link--half-button {
  display: inline-block;
  text-decoration: none;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  padding: 3px;
  margin: 10px 0;
  width: 100px;
}

.link--half-button:hover {
  text-decoration: none;
}

.link:hover {
  background-color: rgb(42,54,48);
  color: white;
}

.link--inline, .link--inline:hover {
  text-decoration: underline;
}

.project-list {
  margin-bottom: 10px;
  margin-top: 10px;
}

.project-card {
  border-bottom: 1px solid white;
  padding: 5px 15px;
  transition: background-color 0.5s;
}

.project-card:hover {
  background-color: #298959;
}

.profile-links {
  margin-bottom: 10px;
}

img#qr-vcard {
  width: 440px;
  max-width: 100vmin;
  height: auto;
}

input {
  color: black;
  font-family: sans-serif;
}

form#contact-info {
  width: 60%;
  margin: 0 auto;
  text-align: left;
}

.glyphicon {
  margin-right: 3px;
}

.logo {
  display: inline-block;
  height: 16px;
  width: 16px;
  background-size: cover;
  margin-right: 3px;
}

.logo--github-logo {
  background-image: url('../images/GitHub-Mark-Light-64px.png');
}

.logo--linkedin-logo {
  background-image: url('../images/In-White-66px-R.png');
}

.project-card__title {
  font-weight: bold;
  text-decoration: underline;
}
