* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  /*margin: 0;*/
}

html {
  height: 100%;
  background-image: url('../images/foggy-forest.jpeg');
  background-size: cover;
}

body {
  min-height: 100%;
  background-color: rgba(57, 189, 123, 0.7);
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Cabin', sans-serif;
}

div#title {
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 10px;
  background-color: black;
  z-index: 1;
}

div.main-content {
  padding-top: 130px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a.half-button {
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  padding: 3px;
}

a:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}

a.link-inline {
  text-decoration: underline;
}

a.link-inline:hover {
  text-decoration: underline;
  background-color: black;
}

div.project-card {
  border-bottom: 1px solid white;
  margin-bottom: 10px;
  padding: 5px 15px;
  transition: background-color 0.5s;
}

div.project-card:hover {
  background-color: #298959;
}

div.profile-links {
  margin-bottom: 10px;
}

img#qr-vcard {
  width: 440px;
  max-width: 100vmin;
  height: auto;
}

input {
  color: black;
  font-family: sans-serif;
}

form#contact-info {
  width: 60%;
  margin: 0 auto;
  text-align: left;
}
