html, html * {
  box-sizing: border-box;
}

html, body {
  width: 100%;
}

html {
  font-size: 16px;
}

body {
  color: white;
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

.sidebar {
  background-color: black;
  height: 100vh;
  min-width: 280px;
}

.header {
  color: rgb(242,242,242);
  background-color: rgb(26,26,26);
}

.main-nav ul {
  float: left;
  padding: 0;
  margin: 0;
}

.main-nav li {
  list-style-type: none;
  float: left;
}

.main-nav a {
  padding: 10px 15px;
  font-size: 22px;
  color: inherit;
  text-decoration: none;
  display: block;
}

.main-nav a:hover {
  background-color: #ff5252;
}

.header__brand {
  float: right;
  font-size: 24px;
}

.header__text {
  margin: 0;
  padding: 10px 15px;
}

.reveal-at-load {
  opacity: 0;
}

#intro-box {
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items:center; */
  color: rgb(242,242,242);
  background-color: rgba(26,26,26,0.4);
  position: relative;
}

.intro-box__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('../images/computer-with-mouse.jpg');
  background-size: cover;
}

.intro-box__text {
  padding-left: 20px;
  border-left: 20px solid rgb(242,242,242);
  width: auto;
  height: auto;
  margin-top: 12%;
  margin-left: 45px;
  transition: opacity 3s ease-in;
}

.intro-box__text-inner {
  padding-left: 20px;
}

.intro-box__text-inner--inner-1 {
  border-left: 10px solid rgb(242,242,242);
  padding-left: 30px;
}

.intro-box__text-inner--inner-2 {
  border-left: 3px solid rgb(242,242,242);
  padding-left: 37px;
}

.intro-box__text h1 {
  font-size: 64px;
  line-height: 1;
}

.intro-box__credit {
  display: none;
}
