html, html * {
  box-sizing: border-box;
}

html, body {
  width: 100%;
}

html {
  font-size: 16px;
}

body {
  color: white;
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  /* font-family: 'Roboto Slab', serif; */
  font-weight: 500;
}

.sidebar {
  background-color: black;
  height: 100vh;
  min-width: 280px;
}

.header {
  color: rgb(242,242,242);
  background-color: rgb(26,26,26);
}

.main-nav ul {
  float: left;
  padding: 0;
  margin: 0;
}

.main-nav li {
  list-style-type: none;
  float: left;
}

.main-nav a {
  padding: 10px 15px;
  font-size: 20px;
  color: inherit;
  text-decoration: none;
  display: block;
  line-height: 33px;
}

.main-nav a:hover {
  background-color: #ff5252;
}

.header__brand {
  float: right;
  font-size: 24px;
}

.header__text {
  margin: 0;
  padding: 10px 15px;
}

.reveal-at-load {
  opacity: 0;
}

.viewport-height {
  min-height: 100vh;
}

#intro-box {
  /* display: flex;
  justify-content: center;
  align-items:center; */
  color: rgb(242,242,242);
  background-color: rgba(26,26,26,0.4);
  position: relative;
}

.intro-box__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('../images/computer-with-mouse.jpg');
  background-size: cover;
}

.intro-box__text {
  padding-left: 20px;
  padding-right: 40px;
  border-left: 20px solid rgb(242,242,242);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: calc(87.5% + 15px);
  height: auto;
  margin-top: 10%;
  margin-bottom: 15px;
  margin-left: 12.5%;
  transition: opacity 2.5s ease-in;
  background-color: rgba(26,26,26,0.6);
  display: inline-block;
}

.intro-box__text-inner {
  padding-left: 20px;
  display: inline-block;
  width: auto;
  height: auto;
}

.intro-box__text-inner--inner-1 {
  border-left: 10px solid rgb(242,242,242);
  padding-left: 30px;
}

.intro-box__text-inner--inner-2 {
  border-left: 3px solid rgb(242,242,242);
  padding-left: 37px;
  
}

.intro-box__text h1 {
  font-size: 64px;
  line-height: 1;
  font-variant: small-caps;
  letter-spacing: 0.0625em;
}

.intro-box__credit, .about-box__credit, .contact-box__credit {
  display: none;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(26,26,26, 0.8); 
}

.about-box__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('../images/drafting.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.about-box__content {
  width: 75%;
}

.about-box__content p {
  font-size: 18px;
}

.about-box__content > h2 {
  padding-bottom: 3px;
  margin-bottom: 20px;
  display: inline-block;
  border-bottom: 5px solid rgb(242,242,242);
  letter-spacing: 0.0625rem;
}

#about .vert-spacer {
  height: 25px;
}

.skills-list {
  margin: 10px 0;
  padding: 0;
}

.skills-list li {
  list-style-type: none;
  text-align: center;
  font-size: 18px;
}

#contact {
  background-color: rgba(26,26,26, 0.8);
}

.contact-box__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('../images/mailboxes.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-box__content {
  max-width: 480px;
  margin: auto;
}

#contact h2 {
  text-align: center;
  text-decoration: underline;
  margin-top: 30px;
  margin-bottom: 20px;
  letter-spacing: 0.0625em;
}

@media only screen and (max-width: 600px) {
  .intro-box__text {
    margin-left: 0;
    width: calc(100% + 15px);
  }
}

@media only screen and (max-width: 480px) {
  .intro-box__text h1 {
    font-size: 52px;
  }

  .intro-box__text h2 {
    font-size: 24px;
  }

  .intro-box__text-inner--inner-2 {
    border-left: none;
    padding-left: 0;
  }

  .header__brand {
    display: none;
  }
}

@media only screen and (max-width: 350px) {
  .intro-box__text-inner--inner-1 {
    border-left: none;
    padding-left: 0;
    
  }
}
