<FilesMatch "\.vcf$">
  ForceType text/vcard
  <IfModule mod_headers.c>
    Header set Content-Disposition attachment
  </IfModule>
</FilesMatch>

<Files "siteconfig.php">
  Require all denied
</Files>

